.nav-conainter {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    color: white;
}

.menu-container{
    display: flex;
    justify-content: flex-end;
    width: 45%;
    display: flex;

}