.menu-button{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 600;
    margin: 0 20px
}
.menu-button:hover {
    background-color: #BD8F54;
    border-radius: 25px;
}

.menu-button:focus {
    border: none;
    outline: none;
}